apiVersion: v1
kind: Service
metadata:
  name: bff-service
  labels:
    app: bff-service
    tier: backend
spec:
  type: ClusterIP
  ports:
  - port: 8082
    targetPort: 8082
    protocol: TCP
    name: http
  selector:
    app: bff-service
